body {
    background-color: #add8e6;
    color: #0F253E;
}

h1 {
    font-size: 5em;
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 1em;
}

ul {
    list-style: none;
    margin: 0 2em 0 10em;
}

ul li {
    text-align: right;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
}

ul li:nth-child(2n) {
    background-color: hwb(0 83% 17%);
    a {
        color: #112a46;
    }
}

ul li:nth-child(2n):hover {
    background-color: hsl(0, 0%, 96%);
}

ul li:nth-child(2n+1) {
    background-color: hwb(212 7% 73%);
    a {
        color: #d3d3d3;
    }
}

ul li:nth-child(2n+1):hover {
    background-color: hwb(212 7% 60%);
}

ul li a:any-link {
    text-decoration: none;
}
